extends layout

block content
  h1= title
  - let parrot = results
  div(class="container-fluid")
    div(class="row")
      each item,index in parrot
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.parrot_color}
          p Weight is #{item.parrot_weight}
          p Cost is #{item.parrot_cost}

  //- Bonus Logic
  script.
    function buy(itr) {
      itr = itr+1;
      alert(`You Purchased Item ${itr}`);
    }